
<% content_for :body_class, "account-bg" %>

<% content_for :navigation do %>
  <li class="active">
    <a href="/">Home</a>
  </li>

  <% if current_user %>
    <li class="dropdown navbar-profile">
    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
      <img src="<%= current_user.image %>" class="navbar-profile-avatar" alt="">
      <span class="navbar-profile-label"><%= current_user.name %> &nbsp;</span>
      <i class="fa fa-caret-down"></i>
    </a>

    <ul class="dropdown-menu" role="menu">

      <li>
      <a href="/user/profile">
        <i class="fa fa-user"></i>
        &nbsp;&nbsp;Perfil
      </a>
      </li>

      <li>
      <a href="/user/settings">
        <i class="fa fa-cogs"></i>
        &nbsp;&nbsp;Ajustes
      </a>
      </li>

      <li class="divider"></li>

      <li>
      <%= link_to destroy_user_session_path, :method =>:delete do %>
        <i class="fa fa-sign-out"></i>
        &nbsp;&nbsp;Salir
      <% end -%>
      </li>

    </ul>

    </li>
  <% else %>
    <li>
      <%= link_to user_omniauth_authorize_path(:facebook) do %>
        <i class="fa fa-facebook"></i>
        &nbsp;&nbsp; Login with Facebook
      <% end -%>
    </li>

  <% end %>
<% end %>

<% content_for :navigation_secondary do %>


  <li class="dropdown">
    <a href="/activity" class="dropdown-toggle" data-toggle="dropdown">
      <span class="label label-success row-stat-badge">+120</span>
    </a>

    <ul class="dropdown-menu noticebar-menu noticebar-hoverable" role="menu">
      <li class="nav-header">
      <div class="pull-left">
        Recompensas
      </div>

      <div class="pull-right">
        <a href="javascript:;">Marcar como vistas</a>
      </div>
      </li>

      <li>
      <a href="/activity" class="noticebar-item">
        <span class="noticebar-item-image">
          <i class="fa fa-ban text-danger"></i>
        </span>
        <span class="noticebar-item-body">
          <strong class="noticebar-item-title">Bug rechazado <span class="label label-danger">-30</span></strong>
          <span class="noticebar-item-text">Pablo Lopez ha rechazado tu SQL Injection</span>
          <span class="noticebar-item-time"><i class="fa fa-clock-o"></i> hace 12 minutos</span>
        </span>
      </a>
      </li>

      <li>
      <a href="/activity" class="noticebar-item">
        <span class="noticebar-item-image">
          <i class="fa fa-check-circle text-success"></i>
        </span>
        <span class="noticebar-item-body">
          <strong class="noticebar-item-title">Bug aceptado <span class="label label-success">+150</span></strong>
          <span class="noticebar-item-text">Has aceptado un XSS de Selene Pinillos</span>
          <span class="noticebar-item-time"><i class="fa fa-clock-o"></i> hace 20 minutos</span>
        </span>
      </a>
      </li>

      <li class="noticebar-menu-view-all">
      <a href="/activity">Ver toda la actividad</a>
      </li>
    </ul>
  </li>
<% end %>

<div class="content">

  <div class="container">

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="account-body">
          <h3><a href="/sites" style="color: #50687A;">Sitios Web</a></h3>
          <br />

          <table class="table keyvalue-table">
            <tbody>
            <tr>
              <td class="kv-key">
                <a target="_blank" href="http://www.facebook.com">www.facebook.com</a><br />
                ENCUENTRA SQL, XSS o CSRF
              </td>
              <td class="kv-value">
                <a class="btn btn-xs btn-secondary">Suscribir</a>
              </td>
            </tr>
            <tr>
              <td class="kv-key">
                <a target="_blank" href="http://sandbox.google.com">sandbox.google.com</a><br />
                CUALQUIER XSS
              </td>
              <td class="kv-value">
                <a class="btn btn-xs btn-secondary">Suscribir</a>
              </td>
            </tr>
            <tr>
              <td class="kv-key">
                <a target="_blank" href="http://beta.something.com">beta.something.com</a><br />
                EXTERNAL FILE INCLUSION
              </td>
              <td class="kv-value">
                <a class="btn btn-xs btn-tertiary">
                  Suscrito
                  <i class="fa fa-check"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td class="kv-key">
                <a target="_blank" href="http://pentesting.example.com">pentesting.example.com</a><br />
                ay&uacute;dame a mejorar las politicas de seguridad de contrase&ntilde;as de este sitio
              </td>
              <td class="kv-value">
                <a class="btn btn-xs btn-secondary">Suscribir</a>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="account-body">
          <h3><a href="/pentesters" style="color: #50687A;">Ranking Pentesters</a></h3>
          <br />

          <table class="table keyvalue-table">
            <tbody>
            <tr>
              <td class="kv-key">
                <img src="http://graph.facebook.com/10205503049883811/picture" class="navbar-profile-avatar" alt="">
                Pablo Lopez
              </td>
              <td class="kv-value">120</td>
            </tr>
            <tr>
              <td class="kv-key">
                <img src="http://graph.facebook.com/javier.cuevas.923/picture" class="navbar-profile-avatar" alt="">
                Javier Cuevas
              </td>
              <td class="kv-value">110</td>
            </tr>
            <tr>
              <td class="kv-key">
                <img src="http://graph.facebook.com/selene.pinillosfranco/picture" class="navbar-profile-avatar" alt="">
                Selene Pinillos
              </td>
              <td class="kv-value">85</td>
            </tr>
            <tr>
              <td class="kv-key">
                <img src="http://graph.facebook.com/raulmarcosl/picture" class="navbar-profile-avatar" alt="">
                Raul Marcos
              </td>
              <td class="kv-value">20</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="account-body">
          <h3><a href="/activity" style="color: #50687A;">Actividad</a></h3>

          <br />

          <h4 class="content-title"><u>Hoy</u></h4>

          <ul class="icons-list">
            <li>
            <i class="icon-li fa fa-ban text-danger"></i>
            <a href="javascript:;">Pablo Lopez</a> ha rechazado tu <a href="javascript:;">SQL Injection</a>
            </li>

            <li>
              <i class="icon-li fa fa-check-circle text-success"></i>
              Has aceptado un <a href="javascript:;">XSS</a> de <a href="javascript:;">Selene Pinillos</a>
            </li>
          </ul>

          <br>

          <h4 class="content-title"><u>Ayer</u></h4>

          <ul class="icons-list">
            <li>
              <i class="icon-li fa fa-eye text-secondary"></i>
              <a href="javascript:;">Raul Marcos</a> se ha suscrito a <a href="javascript:;">www.facebook.com</a>
            </li>
          </ul>

          <br>

          <h4 class="content-title"><u>La semana pasada</u></h4>

          <ul class="icons-list">
            <li>
              <i class="icon-li fa fa-eye text-secondary"></i>
              <a href="javascript:;">Raul Marcos</a> se ha suscrito a <a href="javascript:;">www.facebook.com</a>
            </li>
            <li>
              <i class="icon-li fa fa-eye text-secondary"></i>
              <a href="javascript:;">Pablo Lopez</a> se ha suscrito a <a href="javascript:;">www.facebook.com</a>
            </li>
            <li>
              <i class="icon-li fa fa-eye text-secondary"></i>
              <a href="javascript:;">Javier Cuevas</a> se ha suscrito a <a href="javascript:;">www.facebook.com</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
