
<% content_for :body_class, "account-bg" %>

<%= render "layouts/header" %>

<div class="content">

  <div class="container">

    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="account-body">
          <h3><a href="/sites" style="color: #50687A;">Sitios Web</a></h3>
          <br />

          <table class="table keyvalue-table">
            <tbody>
            <tr>
              <td class="kv-key">
                <a target="_blank" href="http://www.facebook.com">www.facebook.com</a><br />
                ENCUENTRA SQL, XSS o CSRF
              </td>
              <td class="kv-value">
                <a class="btn btn-xs btn-secondary">Suscribir</a>
              </td>
            </tr>
            <tr>
              <td class="kv-key">
                <a target="_blank" href="http://sandbox.google.com">sandbox.google.com</a><br />
                CUALQUIER XSS
              </td>
              <td class="kv-value">
                <a class="btn btn-xs btn-secondary">Suscribir</a>
              </td>
            </tr>
            <tr>
              <td class="kv-key">
                <a target="_blank" href="http://beta.something.com">beta.something.com</a><br />
                EXTERNAL FILE INCLUSION
              </td>
              <td class="kv-value">
                <a class="btn btn-xs btn-tertiary">
                  Suscrito
                  <i class="fa fa-check"></i>
                </a>
              </td>
            </tr>
            <tr>
              <td class="kv-key">
                <a target="_blank" href="http://pentesting.example.com">pentesting.example.com</a><br />
                ay&uacute;dame a mejorar las politicas de seguridad de contrase&ntilde;as de este sitio
              </td>
              <td class="kv-value">
                <a class="btn btn-xs btn-secondary">Suscribir</a>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="account-body">
          <h3><a href="/pentesters" style="color: #50687A;">Ranking Pentesters</a></h3>
          <br />

          <table class="table keyvalue-table">
            <tbody>
            <tr>
              <td class="kv-key">
                <img src="http://graph.facebook.com/10205503049883811/picture" class="navbar-profile-avatar" alt="">
                Pablo Lopez
              </td>
              <td class="kv-value">120</td>
            </tr>
            <tr>
              <td class="kv-key">
                <img src="http://graph.facebook.com/javier.cuevas.923/picture" class="navbar-profile-avatar" alt="">
                Javier Cuevas
              </td>
              <td class="kv-value">110</td>
            </tr>
            <tr>
              <td class="kv-key">
                <img src="http://graph.facebook.com/selene.pinillosfranco/picture" class="navbar-profile-avatar" alt="">
                Selene Pinillos
              </td>
              <td class="kv-value">85</td>
            </tr>
            <tr>
              <td class="kv-key">
                <img src="http://graph.facebook.com/raulmarcosl/picture" class="navbar-profile-avatar" alt="">
                Raul Marcos
              </td>
              <td class="kv-value">20</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="account-body">
          <h3><a href="/activity" style="color: #50687A;">Actividad</a></h3>

          <br />

          <h4 class="content-title"><u>Hoy</u></h4>

          <ul class="icons-list">
            <li>
            <i class="icon-li fa fa-ban text-danger"></i>
            <a href="javascript:;">Pablo Lopez</a> ha rechazado tu <a href="javascript:;">SQL Injection</a>
            </li>

            <li>
              <i class="icon-li fa fa-check-circle text-success"></i>
              Has aceptado un <a href="javascript:;">XSS</a> de <a href="javascript:;">Selene Pinillos</a>
            </li>
          </ul>

          <br>

          <h4 class="content-title"><u>Ayer</u></h4>

          <ul class="icons-list">
            <li>
              <i class="icon-li fa fa-eye text-secondary"></i>
              <a href="javascript:;">Raul Marcos</a> se ha suscrito a <a href="javascript:;">www.facebook.com</a>
            </li>
          </ul>

          <br>

          <h4 class="content-title"><u>La semana pasada</u></h4>

          <ul class="icons-list">
            <li>
              <i class="icon-li fa fa-eye text-secondary"></i>
              <a href="javascript:;">Raul Marcos</a> se ha suscrito a <a href="javascript:;">www.facebook.com</a>
            </li>
            <li>
              <i class="icon-li fa fa-eye text-secondary"></i>
              <a href="javascript:;">Pablo Lopez</a> se ha suscrito a <a href="javascript:;">www.facebook.com</a>
            </li>
            <li>
              <i class="icon-li fa fa-eye text-secondary"></i>
              <a href="javascript:;">Javier Cuevas</a> se ha suscrito a <a href="javascript:;">www.facebook.com</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
